aiohttp
asyncpg
boto3
cassandra-driver
elasticsearch
httpx
influxdb
mongoengine
mysqlclient
opensearch-py
psycopg[binary]==3.0.beta1
psycopg2-binary
pymemcache
pymongo
pytest
pytest-asyncio
redis
requests
SQLAlchemy
trino
typesense
