aiohttp
asyncpg
boto3
cassandra-driver
elasticsearch
httpx
influxdb
mongoengine
mysqlclient
opensearch-py
psycopg[binary]
psycopg2-binary
pymemcache
pymongo
pytest
pytest-asyncio
redis
requests
scs
SQLAlchemy
trino
typesense
urllib3
