aiohttp
asyncpg
boto3
cassandra-driver
elasticsearch
httpx
influxdb
mongoengine
mysqlclient
opensearch-py
osqp
pg8000
psycopg[binary]
psycopg2-binary
pymemcache
pymongo
pytest
pytest-asyncio
pytest-xdist
redis
requests
scs
SQLAlchemy
stripe
trino
typesense
urllib3
valkey
